{% extends "base.html.twig" %}

{% block title %}Votre Profile{% endblock %}

{% block body %}
    <h1>Votre Profil</h1>
    <p>{{ member.nickname }}</p>
    <p>{{ member.email }}</p>


{% endblock %}